<div class="container">
  <nav class="navbar bg-body-tertiary" >
    <div class="container-fluid" style="border-color: black;">
      <a class="navbar-brand" routerLink="benvenuto" >
        <img src="https://media.istockphoto.com/id/1188260609/it/vettoriale/illustrazione-vettoriale-chiave-acuti-neri-isolata-su-sfondo-bianco-chiave-musicale.jpg?s=612x612&w=0&k=20&c=Q49BJl3FxeUQqLe1mCAH6nNP2SYruIUDB7_J4zezxAs=" alt="Bootstrap" width="30" height="24">
        Strumenti musicali</a>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-dark" routerLink="spartiti">Spartiti</button>
        <button class="btn btn-outline-dark" routerLink="strumenti">Strumenti</button>
      </form>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>